<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - Amnipora</title>
</head>
<body>
    <h2>Login</h2>
<form method="POST" action="">
{{ form.hidden_tag() }}
<p>
{{ form.email.label }}<br />
{{ form.email(size=32) }}<br />
{% for error in form.email.errors %}
<span style="color: red">[{{ error }}]</span>
{% endfor %}
</p>
<p>
{{ form.password.label }}<br />
{{ form.password(size=32) }}<br />
{% for error in form.password.errors %}
<span style="color: red">[{{ error }}]</span>
{% endfor %}
</p>
<p>{{ form.submit() }}</p>
</form>
<script>
    const apiUrl = 'http://127.0.0.1:5000/';
</script>
</body>
</html>
